
.react-datepicker__header{
    background-color: transparent !important;
  } 
  .react-datepicker__current-month{
    line-height: 1.2rem;
  }
  
  .react-datepicker{
    border: none !important;
  }
  
  .react-datepicker__header{
    border-bottom: none !important;
  }
  
  h2#fc-dom-86 {
    padding-left: 10px;
  }
  .fc-toolbar-title{
    padding-left: 10px !important;
  }
  .fc-event.form-check-primary {
  background-color: #7367f0 !important;
  border-color: #7367f0 !important;
}
.custom-event {
  display: inline-block;
  padding: 3px 8px;
  border-radius: 12px;
  font-size: 7px;
  font-weight: 500;
  color: white;
  white-space: nowrap;
}

/* You already assign classes like form-check-primary, so target them here */
.form-check-primary .custom-event {
  background-color: #696cff; /* purple */
}

.form-check-success .custom-event {
  background-color: #71dd37; /* green */
}

.form-check-warning .custom-event {
  background-color: #ffab00; /* yellow */
}

.form-check-danger .custom-event {
  background-color: #ff3e1d; /* red */
}

.form-check-info .custom-event {
  background-color: #03c3ec; /* blue */
}
